.carrrousel{
    width: 70%;
    max-width: 120em;
    background-color: whitesmoke;
    padding: 2em;
    @include neo( 1, 1em, 1em)

}
.carrrousel .grande{
    width: 200%;  
    display: flex;
    flex-flow: row-nowrap;
    justify-content: flex-start;
    align-items: center;
    @include neo( 1, 1em, 1em);
}
.carrrousel .img{
    width: calc(100%/2);
    background-color: sandybrown;
}
.carrrousel .puntos{
    width:  100%;
    background-color: white;
    padding: 1em;

    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
} 
.carrrousel .punto{
    width: 2em;
    height: 2em;
    background-color: sandybrown;
    margin: 1em;

}