/* GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;700&display=swap');

/* VARIABLES CSS */
:root {
    --header-height: 4.rem;

    /* COLORS */
    --hue: 250;
    --first-color: hsl(var(--hue), 0%, 0%);
    --title-color: hsl(var(--hue), 10%, 100%);
    --text-color: hsl(var(--hue), 8%, 85%);
    --body-color: #151515;
    --border-color: hsl(var(--hue), 8%, 80%);
    --container-color: hsl(var(--hue), 8%, 15%);

    /* FONT AND TYPOGRAPHY */
    /* .5rem = 8px | 1rem = 16px ... */
    --body-font: 'Poppins', sans-serif;
    --biggest-font-size: 4rem;
    --h1-font-size: 2.22rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;

    /* FONT WEIGHT */
    --font-medium: 500;
    --font-semibold: 600;
    --font-bold: 900;

    /* Z INDEX */
    --z-tooltip: 10;
    --z-fixed: 100;

}

/* RESPONSIVE TYPOGRAPHY */
@media screen and (max-width: 1024px) {
    :root {
        --biggest-font-size: 2.75rem;
        --h1-font-size: 1.5rem;
        --h2-font-size: 1.25rem;
        --h3-font-size: 1rem;
        --normal-font-size: .938rem;
        --small-font-size: .813rem;
        --smaller-font-size: .75rem;
    }
}

/* BASE */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
input,
textarea {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    background-color: var(--body-color);
    color: var(--text-color);
}

h1,
h2,
h3 {
    color: var(--title-color);
    font-weight: var(--font-semibold);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

input {
    border: none;
    outline: none;
}

img {
    max-width: 100%;
    height: auto;
}

/* LAYOUT */

.container {
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.grid {
    display: grid;
}

/* REUSABLE CSS CLASSES */
.section {
    padding: 7rem 0 1rem;
}

.section-title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: .25rem;
    line-height: 150%;
    color: #fff;
}

.section-subtitle {
    text-align: center;
    margin-bottom: 5rem;
}

.section-title-statistics {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    margin-bottom: 1.5rem;
    line-height: 140%;
    margin-top: 5rem;
}

.section-subtitle-statistics {
    text-align: center;
    margin-bottom: 5rem;
}

.section-title-sliders {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    text-align: center;
    line-height: 140%;
    margin-top: 35rem;
}

/* HEADER & NAV */

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    transition: .4s;
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-dark {
    margin-top: 10px;
}

.logo-light {
    display: none;
}

.nav-link,
.nav-toggle {
    color: #fff;
    font-weight: var(--font-semibold);
}

.nav-list {
    display: flex;
    flex-direction: row;
    column-gap: 2.5rem;
}

.nav-toggle {
    font-size: 1.5rem;
    margin-top: .25rem;
    cursor: pointer;
    display: none;
}

.nav-close {
    display: none;
}

/* ACTIVE LINK */

.active-link {
    position: relative;
}

.active-link::before {
    content: '';
    position: absolute;
    bottom: -.75rem;
    left: 45%;
    width: 5px;
    height: 5px;
    background-color: white;
    border-radius: 50%;
}

/* CHANGE BACKGROUND HEADER */
.scroll-header {
    background-color: #393939;
    box-shadow: 0 1px 4px hsl(var(--hue), 4%, 15%, .1);
}

/* HOME */
.home {
    position: relative;
    min-height: 100vh;
    background: url(img/RESCUED\ FOOD\ -\ A-BACKGROUND.png);
    background-repeat: no-repeat;
    padding: 12rem 0 2rem;
    z-index: -2;
}

.home::after {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.home-data {
    max-width: 650px;
}

.home-subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: #f7ab15;
    margin-bottom: 1rem;
}

.home-title {
    font-size: var(--biggest-font-size);
    font-weight: var(--body-font);
    color: #fff;
    line-height: 100%;
    margin-bottom: 1.5rem;
}

.home-description {
    font-size: var(--h3-font-size);
    color: hsl(var(--hue), 8%, 75%);
    margin-bottom: 2.5rem;
}

/* STATISTICS */
.statistics-container {
    grid-template-columns: repeat(3, 1fr);
}

.statistics-item {
    position: relative;
}

.statistics-content {
    border-radius: .10rem 10rem 0 0;
    overflow: hidden;
}

.statistics-title-s {
    font-size: var(--h1-font-size);
    text-align: center;
}

.statistics-title {
    text-align: center;
    color: #f7ab15;
}

/* BUTTONS */
.button {
    display: inline-block;
    color: #fff;
    padding: .8rem 1.75rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    background-color: #f7ab15;
    cursor: pointer;
}

.button-link {
    color: #fff;
    border: 2px solid #f7ab15;
    background-color: #f7ab15;
    transition: .4s;
    cursor: pointer;
}

.button-link:hover {
    background-color: #f7ab15;
    color: #000;
    border: 2px solid #f7ab15;
}

/* ABOUT */
.about-container {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 6rem;
    margin-bottom: 5rem;
}

.about-group {
    justify-self: flex-end;
    position: relative;
}

.about-thumb {
    margin-left: 6.25rem;
}

.about-thumb-img {
    width: 370px;
}

.about-review {
    position: absolute;
    left: -1.5rem;
    top: 6.25rem;
    transform: rotate(90deg);
}

.about-review p span {
    font-weight: var(--font-semibold);
    color: var(--title-color);
}

.about-banner {
    margin-top: -13rem;
}

.about-banner-img {
    width: 240px;
    border-radius: .4rem;
}

.about-customers {
    margin-top: -4.5rem;
    margin-left: 16.8rem;
}

.about-customers-img {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border: 2px solid var(--container-color);
}

.about-customers-img+.about-customers-img {
    margin-left: -.75rem;
}

.about-customers-details {
    margin-top: .25rem;
    font-size: var(--small-font-size);
}

.about-customers-details span {
    font-weight: var(--font-semibold);
}

.about-title {
    margin-bottom: 1rem;
    text-align: left;
}

.about-description {
    margin-bottom: 2rem;
    padding-right: 2rem;
}

.about-details {
    display: grid;
    row-gap: .5rem;
    margin-bottom: 2.5rem;
}

.about-detail-description {
    display: inline-flex;
    align-items: center;
    column-gap: .5rem;
    font-size: var(--small-font-size);
    color: var(--title-color);
}

.about-details-icon {
    font-size: 1.25rem;
    color: #f7ab15;
}

/* CHOOSE */
.choose {
    position: relative;
}

.tab-nav-bar {
    position: relative;
    margin: 40px 10px 40px 10px;
}

.tab-navigation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: fit-content;
    margin: 0 auto;
}

.tab-menu {
    color: var(--biggest-font-size);
    background: #393939;
    max-width: 540px;
    white-space: nowrap;
    border-radius: 50px;
    user-select: none;
}

.tab-btn {
    color: #fff;
    display: inline-block;
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    padding: 5px 50px;
    border-radius: 30px;
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease;
}

.tab-btn:hover {
    background: #f7ab15;
    color: #000;
}

.tab-btn.active {
    background: #f7ab15;
    color: #000;
}

.tab-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
}

.tab {
    position: absolute;
    top: 0;
    right: auto;
    left: auto;
    max-width: 1100px;
    padding: 15px 50px;
    transform: translateX(25px);
    content-visibility: hidden;
}

.tab.active {
    transform: translateX(0);
    content-visibility: visible;
}

.tab .img-card {
    position: relative;
    width: 450px;
    max-width: 450px;
    border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.tab .img-card img {
    width: 100%;
}

.tab .row {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
    gap: 30px;
}

.left-column h2 {
    margin-bottom: 2rem;
}

.choose-description {
    margin-bottom: 1rem;
}

.choose-details p {
    margin-bottom: 0.7rem;
}

.fa.fa-check {
    color: #f7ab15;
    margin-right: 10px;
}

/* SLIDER */
.swiper {
    margin-bottom: 3rem;
}

.slide {
    margin-top: 2rem;
    position: relative;
    display: flex;
    align-items: center;
}

.card {
    position: relative;
    background-color: #393939;
    border-radius: 20px;
    height: 460px;
    width: 296px;
    margin: 20px 0;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px;
    position: reltive;
    z-index: 100;
}

.slide .card .image {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    position: relative;
}

.slide .card .image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #f7ab15;
}

.slide .card .image2 {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    position: relative;
}

.slide .card .image2 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #ec1839;
}

.slide .card .image3 {
    height: 140px;
    width: 140px;
    border-radius: 50%;
    padding: 3px;
    background: #fff;
    position: relative;
}

.slide .card .image3 img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid #37b182;
}

.box1 {
    position:absolute;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: #f7ab15;
}

.box2 {
    position:absolute;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: #ec1839;
}

.box3 {
    position:absolute;
    height: 30%;
    width: 100%;
    border-radius: 20px 20px 0 0;
    background: #37b182;
}

.card .media-icons {
    position: absolute;
    top: 10px;
    right: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .media-icons i {
    color:#000;
    margin-top: 10px;
    transition: all 0.3s ease;
    cursor: pointer;
    font-size: 15px;
}

.card .media-icons i:hover {
    color: #fff;
}

.card .names {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.name {
    font-size: 20px;
    font-weight: var(--font-bold);
    color: #fff;
}

.card .rating {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #f7ab15;
}

.card .rating2 {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #ec1839;
}

.card .rating3 {
    display: flex;
    align-items: center;
    margin-top: 8px;
    color: #37b182;
}

.slide .card .about {
    display: flex;
    text-align: center;
    color: #fff;
    margin-top:10px;
    margin-bottom: 5px;
}

.slide .swiper-pagination {
    position: absolute;
}

.slide .swiper-pagination-bullet {
    height: 15px;
    width: 15px;
    border-radius: 25px;
    background-color: #f7ab15;
}

.slide .swiper-button-next,
.slide .swiper-button-prev {
    opacity: 0.7;
    color: #f7ab15;
    transition: all 0.3s ease;
}

.slide .swiper-button-next:hover,
.slide .swiper-button-prev:hover {
    opacity: 1;
    color: #f7ab15;
}

/* ABOUT INFORMATION */
.aboutI {
    padding: 0 8%;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
    min-height: 100vh;
}

.aboutI-img {
    width: 730px;
    height: 730px;
}

.aboutI-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.aboutI-text span {
    padding: 5px 25px;
    background: linear-gradient(130.08deg, #f7ab15 0%, #393939 80% );
    box-shadow: 0px 20px 40px #39393939;
    border-radius: 100px;
    color: #fff;
    font-weight: var(--font-bold);
    font-size: 1.5rem;
    text-transform: uppercase;
}

.aboutI-text h1 {
    font-size: 4rem;
    margin: 23px 0;
}

.aboutI-text p {
    font-size: var(--h2-font-size);
    font-weight: var(--font-medium);
    color: #fff;
    line-height: 30px;
    margin-bottom: 30px;
}

/* BRANDS  */
.brand-title {
    margin-top: 3rem;
    text-align: center;
    font-size: var(--h2-font-size);
    margin-bottom: 5rem;
}

.brand-container {
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    margin-bottom: 3rem;
}

.brand-container img {
    height: 75px;
    width: 150px;
}

.brand-container .brand1 {
    width: 160px;
}

.brand-container .brand2 {
    width: 150px;
    height: 100px;
}

.brand-container .brand6 {
    width: 160px;
}

.brand-button {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: .2rem;
    cursor: pointer;
}

.brand-button-icon {
    font-size: 1.25rem;
    transition: .4s;
}

.brand-button:hover .brand-button-icon {
    transform: translateX(.25rem);
}

/* COURSES */
.courses-container {
    grid-template-columns: repeat(3, 1fr);
    gap: 1.8rem;
}

.course-item {
    background-color: #393939;
    position: relative;
    border-radius: 0 0 .4rem .4rem;
}

.course-box {
    border-radius: .4rem .4rem 0 0;
    overflow: hidden;
}

.course-img {
    width: 500px;
    height: 230px;
    transform: scale(1);
    vertical-align: middle;
    transition: .4s;
}

.course-box:hover .course-img {
    transform: scale(1.1);
}

.course-tag {
    position: absolute;
    top: 1.25rem;
    left: 1.25rem;
    background-color: #fff;
    color: var(--first-color);
    font-size: var(--normal-font-size);
    padding: .25rem .5rem;
    border-radius: .25rem;
}

.course-content {
    padding: 1.5rem 1.875rem;
}

.course-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: .5rem;
}

.course-lesson {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: var(--small-font-size);
}

.course-rating {
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    font-size: var(--small-font-size);
}

.course-rating .uis {
    color: #f7ab15;
}

.course-title {
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    line-height: 1.2;
    cursor: pointer;
    transition: .4s;
}

.course-title a {
    font-weight: var(--font-medium);
    font-size: var(--h3-font-size);
    margin-bottom: 1rem;
    line-height: 1.2;
    cursor: pointer;
    transition: .4s;
    color: #fff;
}

.course-title a:hover {
    color: var(--first-color);
}

.course-teacher {
    display: flex;
    column-gap: 1rem;
    align-items: center;
}

.course-teacher img {
    width: 35px;
    height: 35px;
    border: 2px solid var(--container-color);
    border-radius: 50px;
}

.course-teacher-title {
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    padding-top: .125rem;
    cursor: pointer;
    transition: .4s;
}

.course-teacher-title:hover {
    color: var(--first-color);
}

.course-more {
    display: flex;
    justify-content: space-between;
    padding: .6rem 1.875rem .75rem;
    border-top: 1px solid #f0f0f0;
}

.course-prices {
    display: flex;
    align-items: center;
}

.course-discount {
    font-size: var(--h3-font-size);
    font-weight: var(--font-semibold);
    padding-right: .25rem;
}

.course-price {
    font-size: var(--small-font-size);
    text-decoration: line-through;
}

.course-button{
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .2rem;
    cursor: pointer;
}

.course-button a {
    color: var(--title-color);
    font-size: var(--normal-font-size);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    column-gap: .2rem;
    cursor: pointer;
}

.course-button-icon{
    font-size: 1.25rem;
    transition: .4s;
}

.course-button:hover .course-button-icon {
    transform: translateX(.25rem);
}

.course-item:nth-child(1) .course-tag {
    background-color: #f7ab15;
}

.course-item:nth-child(1) .course-discount {
    color: #f7ab15;
}

.course-item:nth-child(2) .course-tag {
    background-color: #ec1839;
}

.course-item:nth-child(2) .course-discount {
    color: #ec1839;
}

.course-item:nth-child(3) .course-tag {
    background-color: #37b182;
}

.course-item:nth-child(3) .course-discount {
    color: #37b182;
}

.course-item:nth-child(4) .course-tag {
    background-color: #0cb7f2;
}

.course-item:nth-child(4) .course-discount {
    color: #0cb7f2;
}

.course-item:nth-child(5) .course-tag {
    background-color: #1854b4;
}

.course-item:nth-child(5) .course-discount {
    color: #1854b4;
}

.course-item:nth-child(6) .course-tag {
    background-color: #f021b2;
}

.course-item:nth-child(6) .course-discount {
    color: #f021b2;
}

/* FOOTER */
.footer {
    min-height: 10vh;
    margin-top: 8rem;
    background-color: #393939;
    padding-top: 1%;
}

.footer-container {
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    column-gap: 1rem;
    margin-left: 6rem;
}

.footer-title {
    font-size: 15px;
    font-weight: var(--font-bold);
    color: #f7ab15;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-top: 5.1rem;
}

.footer-title-2 {
    font-size: 15px;
    color: #f7ab15;
    font-weight: var(--font-bold);
    cursor: pointer;
    margin-top: 5.1rem;
    margin-bottom: 20px;
}

h6 {
    margin-bottom: 2rem;
}

.footer-links {
    display: grid;
    row-gap: .35rem;
}

.footer-link {
    color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    font-size: 15px;
}

.footer-link:hover {
    color: #f7ab15;
}

.line-1 {
    margin-top: 2rem;
    margin-right: 7rem;
    margin-left: 7rem;
}

.footer-container-2 {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 1rem;
    margin-left: 7.5rem;
}

.footer-container-3 {
    margin-left: 7.5rem;
    margin-right: 7.5rem;
}

.footer-title-3 {
    font-size: 20px;
    font-weight: var(--font-bold);
    color: #fff;
    margin-top: 1rem;
    cursor: pointer;
    margin-bottom: 1rem;
}

.footer-links-2 {
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link-2 {
    color: #fff;
    font-size: 10px;
    transition: all 0.3s ease;
}

.footer-link-2:hover {
    color: #f7ab15;
}

.footer-social {
    margin-left: 18rem;
    margin-top: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    flex-direction: row;
    align-items: end;
    column-gap: 1.5rem;
}

.footer-social-link {
    color: #f7ab15;
}

.line-2 {
    margin-top: 2rem;
    margin-right: 7rem;
    margin-left: 7rem;
}

.footer-links-3 {
    margin-top: 1rem;
    flex-direction: row;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-link-3 {
    color: #fff;
    font-size: 10px;
    transition: all 0.3s ease;
}

.footer-link-4:hover {
    color: #f7ab15;
}

/* BREAKPOINTS */
/* FOR LARGE DEVICES */
@media screen and (max-width:1206px) {

    .container {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .about-container {
        column-gap: 3rem;
    }

    .slide {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    .about-banner {
        margin-top: -12rem;
    }

}

@media screen and (max-width: 1050px) {

    .about-banner {
        margin-top: -11rem;
    }

    .choose {
        margin: 0 0px;
        margin-bottom: 40rem;
    }

    .tab-nav-bar {
        margin: 65px 20px 40px 25px;
    }

    .tab {
        padding: 15px 25px;
    }

    .tab .row {
        flex-direction: column;
    }

    .tab .img-card {
        width: 450px;
        max-width: 450px;
        border-radius: 31% 69% 23% 77% / 66% 18% 82% 34%;
    }

}

@media screen and (max-width:1024px) {

    .nav-link {
        font-size: 12px;
    }

    .container {
        margin-left: 5rem;
        margin-right: 5rem;
        overflow-x: hidden;
    }

    .home {
        min-height: 600px;
    }

    .home-data {
        max-width: 550px;
    }

    .about-container {
        grid-template-columns: 1fr;
        row-gap: 3rem;
    }

    .about-group {
        justify-self: center;
    }

    .about-banner {
        margin-top: -110px;
    }

    .choose {
        margin-left: 5rem;
        border-bottom: 10rem;
    }

    .about-information-container {
        text-align: center;
    }

    .about-information-description {
        display: none;
    }

    .courses-container {
        grid-template-columns: repeat(2, 340px);
        justify-content: center;
    }

    .course-content {
        padding: 0.1rem 0.9rem;
    }

    .course-more {
        padding: .5rem 1.25rem;
    }

    .footer-container-2 {
        grid-template-columns: repeat(1, 1fr);
        margin-left: 6rem;
        margin-right: 6rem;
    }

    h6 {
        margin-top: 0;
        margin-bottom: 10;
    }

    .footer-link {
        font-size: 10px;
    }

    .line-1 {
        margin-top: 2rem;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .line-2 {
        margin-top: 10px;
        margin-right: 5rem;
        margin-left: 5rem;
    }

    .footer-container {
        margin-left: 6rem;
    }

    .footer-social {
        margin-top: 10px;
    }

}

/* FOR MEDIUM  DEVICES */
@media screen and (max-width:767px) {

    .nav {
        height: var(--header-height);
    }

    .button-header {
        display: none;
    }

    .nav-toggle {
        display: block;
    }

    .nav-menu {
        position: fixed;
        width: 100%;
        background: #393939;
        top: -150%;
        left: 0;
        padding: 3.5rem 0;
        z-index: var(--z-fixed);
        border-radius: 0 0 .4rem .4rem;
        transition: .4s;
    }

    .nav-list {
        flex-direction: column;
        row-gap: 1.5rem;
        align-items: center;
    }

    .nav-close {
        display: block;
        font-size: 1.8rem;
        position: absolute;
        top: .5rem;
        right: .7rem;
        cursor: pointer;
    }

    .nav-list {
        color: #fff;
    }

    /* SHOW MENU */
    .show-menu {
        top: 0;
    }

    .home {
        min-height: 700px;
        padding-top: 14rem;
    }

    .statistics-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .statistics-content {
        margin-bottom: 2rem;
    }

    .choose {
        margin-right: 4rem;
        margin-bottom: 50rem;
    }

    .aboutI {
        margin-top: 5rem;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 5rem;
    }

    .aboutI-text {
        order: 2;
        text-align: center;
    }

    .aboutI-img {
        margin: auto;
        height: auto;
        width: auto;
    }

    .aboutI-img img {
        max-width: 450px;
        width: 100%;
        height: auto;
    }

    .courses-container {
        grid-template-columns: 320px;
    }

    .brand-container {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 2.5rem;
        margin-left: 1rem;
    }

    .footer-container {
        grid-template-columns: 1fr;
        row-gap: 2rem;
        justify-content: start;
    }

    .footer-title-3 {
        align-items: center;
        text-align: center;
    }

    .footer-links-2,
    .footer-links-3 {
        flex-direction: column;
    }

}

@media screen and (max-width:576px) {

    .home-description {
        padding-right: 0;
    }

    .about-thumb-img {
        width: 240px;
    }

    .about-banner-img {
        width: 160px;
    }

    .about-banner {
        margin-top: -25px;
    }

    .about-customers {
        margin-top: 20px;
        margin-left: 0;
    }

    .choose {
        margin-right: 10rem;
        margin-left: 10rem;
    }

    .brand-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .course-meta {
        margin-top:10px;
    }

    .course-teacher {
        margin-bottom: 10px;
    }

    .footer-content {
        justify-content: center;
        text-align: center;
        margin-top: 0;
        margin-bottom: 0;
    }

    .footer-container-2 {
        text-align: center;
        justify-content: center;
        align-items: center;
    }
    
    .footer-social {
        margin-right: 17rem;
    }

}